

    <footer>
        <div class="footerContainer">
            <div class="row">
                <div class="col-sm-4">
                    <i class="fas fa-phone"></i> 662-155-3516
                </div>
                <div class="col-sm-4">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=genesisbell14@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </div>
                <div class="col-sm-4">      
                    <a href="https://twitter.com/genesisbbell" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="www.linkedin.com/in/génesis-bell" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    
                </div>
            </div>
        </div> 
        <div class="copyright">
            <p>Made with ♥ by Genesis Bell</p>
            <p>Copyright © <script>document.write(new Date().getFullYear())</script></p>
        </div>             
    </footer>
</body>
</html>