

    <footer class="footer site-footer">
        <div class="footerContainer">
            <div class="row">
                <div class="col-sm-4">
                    <i class="fas fa-phone"></i> 662-155-3516
                </div>
                <div class="col-sm-4">
                    <a class="footerLink" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=genesisbell14@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                </div>
                <div class="col-sm-4">      
                    <a class="footerLink" href="https://twitter.com/genesisbbell" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="footerLink" href="www.linkedin.com/in/génesis-bell" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    
                </div>
            </div>
        </div>      
    </footer>


</body>
</html>