<%- include("partials/header") -%> 

<!-- Body -->
<section class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img class="imgMe" src="images/mesquare.jpg" alt="Genesis">
            </div>

            <div class="col-lg-6">
                <h2>Hi!</h2>
                <h3 class="littleBit">A little bit about me</h3>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <a href="/resume">
                            <div class="resume circles">Resume</div>
                        </a>
                        
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <a href="/portfolio">
                            <div class="portfolio circles">Portfolio</div>
                        </a>                        
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <a href="/">
                            <div class="contact circles">Contact</div>
                        </a>
                        
                    </div>
                </div>

                <p class="aboutMe">I'm a software engineer who resides in Hermosillo, Mexico. I specialize in web development using JavaScript, React, databases and more</p>
            </div>
        </div>

    </div>
</section>

<%- include("partials/footer"); -%> 