<%- include("partials/header") -%>

<div class="container-fluid container-light">
    
    <h3>Resume</h3>

    <h5>Career Objective</h5>
    <p>Adaptable Software Engineering major currently attending Universidad de Sonora. Aiming to leverage a proven knowledge of web design,
        database desing, and programming skills to successfully fill the web developver role at your company. Frequently praised as 
        hard-working by my peers, I can be relied upon to help your company achieve its goals.
    </p>

    <h5>Education</h5>
    <h6>Universidad de Sonora</h6><span> 2016-2020</span>
    <p>Software Engineering</p>
    
    <h6>Relevant coursework</h6>
    <p>Hackaton Rasperry Pi 2018 <br>
        Java School at nearsoft <br>
        Web development bootcamp 2020    
    </p>

    <h5>Work Experience</h5>
    <h6>Accountant</h6><span> Grupo Molina, Hermosillo, Sonora / May 2018 - Dec 2019</span>
    <ul>
        <li>Prepare, examine, and analyze accounting records, financial statements, or other financial reports</li>
        <li>Taxes payment</li>
        <li>Verify accuracy of billing data and revise any errors</li>
        <li>Operate accounting software to record, store, and analyze  information</li>
    </ul>

    <h5>Skills</h5>
    <p>JavaScript</p>
    <p>Html</p>
    <p>CSS</p>

    <h5>Additional skills</h5>
    <p>English - 95% writing and speech</p>
    <p>Spanish - native speaker</p>

    <h5>Hobbies</h5>
    <p>Swimming</p>
    <p>Hiking</p>
    
</div>

<%- include("partials/footer") -%>