

body{
    background-color: #142850;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}

h5{
    text-align: center;
    letter-spacing: 3px;
    margin-top: 2%;
    font-weight: bold;
}

h6 {
    font-weight: bold;
    display: inline;
}

span{
    font-style: italic;
    font-size: .85rem;
}

.row{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

/*Header*/
.header{
    padding: 20px;
    background-color: #dae1e7;
}

.myName{
    margin: 0;
    padding-left: 15%;
}

.job{
    font-style: italic;
    margin: 0;
    padding-left: 18%;
    text-align: left;
    font-weight: lighter;
}

.nav-link{
    letter-spacing: 3px;
}

.nav-link:hover{
    color: #00909e !important;
}

/*Body*/
.body{
    background-color: #00909e;
    color: #ebebeb;
    
}

.container-fluid{
    padding: 3% 15%;
    min-height: 73.3vh;
}

.container-light{
    background-color: white;
}

img{
    border-radius: 50%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.littleBit{
    margin-bottom: 5%;
}

.circles{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    margin: 5% auto;
}

.circles:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume{
    background-color: #120136;
}

.portfolio{
    background-color: #035aa6;
}

.contact{
    background-color: #fcbf1e;
}

.aboutMe{
    font-size: 1.3rem;
    margin-top: 5%;
    
}

/*Footer*/
footer{
    background-color: #142850;
    color: #ebebeb;
    padding: 2% 15%;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

}


footer a{
    color: white;
    margin: 0% 2%;
}

footer a:hover{
    color: #00909e;
    text-decoration: none;
}

footer p {
    color: grey;
    font-size: .7rem;
    text-align: center;
    margin: 0;
}

.copyright{
    padding-top: 10px;
}